{
  "name": "twtxt-pico",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "lib/pico/README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "lib/pico/LICENSE.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "lib/pico/docs/scss/pico.docs.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "lib/pico/docs/css/pico.docs.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/pico/docs/css/pico.docs.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "lib/pico/scss/pico.classless.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "lib/pico/scss/pico.fluid.classless.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "lib/pico/scss/pico.scss",
      "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "lib/pico/scss/pico.slim.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "lib/pico/css/pico.classless.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/pico/css/pico.classless.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "lib/pico/css/pico.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/pico/css/pico.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "lib/pico/css/pico.fluid.classless.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/pico/css/pico.fluid.classless.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "lib/pico/css/pico.slim.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"lib/pico/css/pico.slim.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "img/avatars/README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "img/icon/README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "LICENSE.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    },
    {
      "path": "scss/twtxt.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "css/twtxt.css",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"css/twtxt.min.css\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "js/twtxt.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/twtxt.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "img/favicon/README.md",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"compiler-markdown\":{\"enabled\":true,\"sanitize\":false,\"githubFlavored\":true,\"wrapWithHtml\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "lib/pico",
      "lib/pico/docs/scss",
      "lib/pico/docs/css",
      "scss",
      "css",
      "js",
      "img",
      "img/favicon"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "js/twtxt.js",
      "imports": [
        "js/src/new-post.js",
        "js/src/nav.js",
        "js/src/theme-switcher.js"
      ]
    },
    {
      "path": "scss/twtxt.scss",
      "imports": [
        "lib/pico/scss/_variables.scss",
        "lib/pico/scss/themes/_default.scss",
        "lib/pico/scss/layout/_document.scss",
        "lib/pico/scss/layout/_sectioning.scss",
        "lib/pico/scss/layout/_container.scss",
        "lib/pico/scss/layout/_section.scss",
        "lib/pico/scss/layout/_grid.scss",
        "lib/pico/scss/layout/_scroller.scss",
        "lib/pico/scss/content/_typography.scss",
        "lib/pico/scss/content/_form.scss",
        "lib/pico/scss/content/_form-checkbox-radio.scss",
        "lib/pico/scss/content/_button.scss",
        "lib/pico/scss/content/_button-styles.scss",
        "lib/pico/scss/content/_table.scss",
        "lib/pico/scss/content/_code.scss",
        "lib/pico/scss/content/_miscs.scss",
        "lib/pico/scss/components/_accordion.scss",
        "lib/pico/scss/components/_card.scss",
        "lib/pico/scss/components/_card-sectioning.scss",
        "lib/pico/scss/components/_nav.scss",
        "lib/pico/scss/components/_tooltip.scss",
        "scss/themes/_light.scss",
        "scss/themes/_dark.scss",
        "scss/layout/_sectioning.scss",
        "scss/layout/_header.scss",
        "scss/layout/_nav.scss",
        "scss/layout/_footer.scss",
        "scss/content/_svg.scss",
        "scss/content/_typography.scss",
        "scss/content/_button.new-post.scss",
        "scss/components/_article.scss",
        "scss/components/_article.editor.scss",
        "scss/components/_article.loading.scss",
        "scss/components/_animated.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/scss/pico.classless.scss",
      "imports": [
        "lib/pico/scss/pico.scss",
        "lib/pico/scss/_variables.scss",
        "lib/pico/scss/themes/_default.scss",
        "lib/pico/scss/layout/_document.scss",
        "lib/pico/scss/layout/_sectioning.scss",
        "lib/pico/scss/layout/_container.scss",
        "lib/pico/scss/layout/_section.scss",
        "lib/pico/scss/layout/_grid.scss",
        "lib/pico/scss/layout/_scroller.scss",
        "lib/pico/scss/content/_typography.scss",
        "lib/pico/scss/content/_form.scss",
        "lib/pico/scss/content/_form-checkbox-radio.scss",
        "lib/pico/scss/content/_button.scss",
        "lib/pico/scss/content/_button-styles.scss",
        "lib/pico/scss/content/_table.scss",
        "lib/pico/scss/content/_code.scss",
        "lib/pico/scss/content/_miscs.scss",
        "lib/pico/scss/components/_accordion.scss",
        "lib/pico/scss/components/_card.scss",
        "lib/pico/scss/components/_card-sectioning.scss",
        "lib/pico/scss/components/_nav.scss",
        "lib/pico/scss/components/_tooltip.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/scss/pico.fluid.classless.scss",
      "imports": [
        "lib/pico/scss/pico.scss",
        "lib/pico/scss/_variables.scss",
        "lib/pico/scss/themes/_default.scss",
        "lib/pico/scss/layout/_document.scss",
        "lib/pico/scss/layout/_sectioning.scss",
        "lib/pico/scss/layout/_container.scss",
        "lib/pico/scss/layout/_section.scss",
        "lib/pico/scss/layout/_grid.scss",
        "lib/pico/scss/layout/_scroller.scss",
        "lib/pico/scss/content/_typography.scss",
        "lib/pico/scss/content/_form.scss",
        "lib/pico/scss/content/_form-checkbox-radio.scss",
        "lib/pico/scss/content/_button.scss",
        "lib/pico/scss/content/_button-styles.scss",
        "lib/pico/scss/content/_table.scss",
        "lib/pico/scss/content/_code.scss",
        "lib/pico/scss/content/_miscs.scss",
        "lib/pico/scss/components/_accordion.scss",
        "lib/pico/scss/components/_card.scss",
        "lib/pico/scss/components/_card-sectioning.scss",
        "lib/pico/scss/components/_nav.scss",
        "lib/pico/scss/components/_tooltip.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/scss/pico.scss",
      "imports": [
        "lib/pico/scss/_variables.scss",
        "lib/pico/scss/themes/_default.scss",
        "lib/pico/scss/layout/_document.scss",
        "lib/pico/scss/layout/_sectioning.scss",
        "lib/pico/scss/layout/_container.scss",
        "lib/pico/scss/layout/_section.scss",
        "lib/pico/scss/layout/_grid.scss",
        "lib/pico/scss/layout/_scroller.scss",
        "lib/pico/scss/content/_typography.scss",
        "lib/pico/scss/content/_form.scss",
        "lib/pico/scss/content/_form-checkbox-radio.scss",
        "lib/pico/scss/content/_button.scss",
        "lib/pico/scss/content/_button-styles.scss",
        "lib/pico/scss/content/_table.scss",
        "lib/pico/scss/content/_code.scss",
        "lib/pico/scss/content/_miscs.scss",
        "lib/pico/scss/components/_accordion.scss",
        "lib/pico/scss/components/_card.scss",
        "lib/pico/scss/components/_card-sectioning.scss",
        "lib/pico/scss/components/_nav.scss",
        "lib/pico/scss/components/_tooltip.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/scss/pico.slim.scss",
      "imports": [
        "lib/pico/scss/_variables.scss",
        "lib/pico/scss/themes/_default.scss",
        "lib/pico/scss/layout/_document.scss",
        "lib/pico/scss/layout/_sectioning.scss",
        "lib/pico/scss/layout/_container.scss",
        "lib/pico/scss/layout/_section.scss",
        "lib/pico/scss/layout/_grid.scss",
        "lib/pico/scss/layout/_scroller.scss",
        "lib/pico/scss/content/_typography.scss",
        "lib/pico/scss/content/_form.scss",
        "lib/pico/scss/content/_form-checkbox-radio.scss",
        "lib/pico/scss/content/_button.scss",
        "lib/pico/scss/content/_button-styles.scss",
        "lib/pico/scss/content/_table.scss",
        "lib/pico/scss/content/_code.scss",
        "lib/pico/scss/content/_miscs.scss",
        "lib/pico/scss/components/_accordion.scss",
        "lib/pico/scss/components/_card.scss",
        "lib/pico/scss/components/_card-sectioning.scss",
        "lib/pico/scss/components/_nav.scss",
        "lib/pico/scss/components/_tooltip.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/docs/js/pico.docs.js",
      "imports": [
        "lib/pico/docs/js/src/aside.js",
        "lib/pico/docs/js/src/theme-switcher.js",
        "lib/pico/docs/js/src/grid.js",
        "lib/pico/docs/js/src/color-picker.js",
        "lib/pico/docs/js/src/most-visible.js",
        "lib/pico/docs/js/src/scrollspy.js"
      ]
    },
    {
      "path": "lib/pico/docs/scss/pico.docs.scss",
      "imports": [
        "lib/pico/scss/_variables.scss",
        "lib/pico/docs/scss/themes/_docs.scss",
        "lib/pico/docs/scss/layout/_document.scss",
        "lib/pico/docs/scss/layout/_main.scss",
        "lib/pico/docs/scss/layout/_aside.scss",
        "lib/pico/docs/scss/layout/_documentation.scss",
        "lib/pico/docs/scss/content/_typography.scss",
        "lib/pico/docs/scss/content/_code.scss",
        "lib/pico/docs/scss/components/_nav.scss",
        "lib/pico/docs/scss/components/_theme-switcher.scss",
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/docs/scss/themes/docs/_light.scss",
        "lib/pico/docs/scss/themes/docs/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/scss/themes/_default.scss",
      "imports": [
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/scss/themes/default/_light.scss",
        "lib/pico/scss/themes/default/_dark.scss"
      ]
    },
    {
      "path": "lib/pico/docs/scss/themes/_docs.scss",
      "imports": [
        "lib/pico/scss/themes/default/_colors.scss",
        "lib/pico/docs/scss/themes/docs/_light.scss",
        "lib/pico/docs/scss/themes/docs/_dark.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7889,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}